# Byte-compiled / optimized / DLL files
**/__pycache__/
**/.ipynb_checkpoints/
*.DS_Store
*.py[cod]

# C extensions
*.so
# app/**/*schedule*.xlsx
research/akadaner/*xlsx
schedules/*.xlsx

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.pytest_cache

# Rope
.ropeproject

# Django stuff:
*.log
!tests/lazy_tester_logs/**/*.log
*.pot

# Xlsx files
app/data/dynamic/boiling_plan/*.xlsx
app/data/dynamic/schedule_plan/*.xlsx
app/data/dynamic/schedule/*.xlsx
app/data/dynamic/sku_plan/*.xlsx
app/data/dynamic/stats/*.csv
app/data/dynamic/stats/*.xlsx
app/data/dynamic/tmp/*.csv
app/data/dynamic/tmp/*.xlsx
app/data/dynamic/schedule_task/*.csv

# Dynamic data
db/batch_numbers/data.json

# Pyc files
app/**/*.pyc

.idea
