{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Форм фактор - Изменить форм фактор{% endblock %}
{% block page_content %}
<div class="row">
    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Изменение форм фактора <br></h1>
            </div>
        </div>
    </div>
    <form method="post" action="/mozzarella/edit_form_factor/{{form_factor_id}}" class="mt-4">
        {{ form.hidden_tag() }}
        <div class="row mb-4">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label>Название форм фактора</label>
                    {{form.name(place_holder='Name', class='form-control', readonly=true)}}
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Название линии</label>
                        {{form.line(place_holder='Line', class='form-control', readonly=true)}}
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Введите время первого охлаждения, мин</label>
                        {{form.first_cooling_time(place_holder='FirstCooling', class='form-control')}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Введите время второго охлаждения, мин</label>
                        {{form.second_cooling_time(place_holder='SecondCooling', class='form-control')}}
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Введите время посолки, мин</label>
                        {{form.salting_time(place_holder='Salting', class='form-control')}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3" style="margin-top:30px;">
                <button type="submit" name="submit" class="btn btn-block btn-primary">Сохранить</button>
            </div>

        </div>
    </form>
</div>
{% endblock %}