{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Технолония варки - Изменить технологию варки{% endblock %}
{% block page_content %}
<div class="row">
    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Изменение параметров технологии варки <br></h1>
            </div>
        </div>
    </div>
    <form method="post" action="/mozzarella/edit_boiling_technology/{{boiling_technology_id}}" class="mt-4">
        {{ form.hidden_tag() }}
        <div class="row mb-4">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label>Название варки</label>
                    {{form.name(place_holder='Name', class='form-control', readonly=true)}}
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Введите время налива</label>
                        {{form.pouring_time(place_holder='Pouring', class='form-control')}}
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Введите время схватки, д</label>
                        {{form.soldification_time(place_holder='Soldification', class='form-control')}}
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Выберите линию</label>
                        {{form.line(place_holder='Line', class='form-select', readonly=True)}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Введите время резки и обсушки</label>
                        {{form.cutting_time(place_holder='Cutting', class='form-control')}}
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Введите время слива</label>
                        {{form.pouring_off_time(place_holder='PouringOff', class='form-control')}}
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Введите время на дополнительные затраты</label>
                        {{form.extra_time(place_holder='Extra', class='form-control')}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3" style="margin-top:30px;">
                <button type="submit" name="submit" class="btn btn-block btn-primary">Сохранить</button>
            </div>

        </div>
    </form>
</div>
{% endblock %}