{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Мойки - Список моек{% endblock %}
{% block page_content %}
<main class="content">
    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Параметры моек</h1>
            </div>
        </div>
    </div>
    <div class="card border-light shadow-sm mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0">#</th>
                            <th class="border-0">Название мойки</th>
                            <th class="border-0">Время мойки, мин</th>
                            <th class="border-0">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for washer in washers %}
                            <tr>
                                <td class="border-0">{{loop.index}}</td>
                                <td class="border-0"><a class="small">{{washer.name}}</a></td>
                                <td class="border-0"><a class="small">{{washer.time}}</a></td>
                                <td class="border-0">
                                    <a href="{{ url_for('main.edit_washer', washer_id = washer.id)}}" class="edit-bt">
                                        <i class="material-icons" style="color:green" title="Изменить"> <span class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
