{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Технология варки - Список технологий варок{% endblock %}
{% block page_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Технологии варки</h1>
        </div>
    </div>
</div>
<div class="card border-light shadow-sm mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0">#</th>
                        <th class="border-0">Название варки</th>
                        <th class="border-0">Налив, мин</th>
                        <th class="border-0">Схватка, мин</th>
                        <th class="border-0">Резка и обсушка, мин</th>
                        <th class="border-0">Слив, мин</th>
                        <th class="border-0">Дополнительно, мин</th>
                        <th class="border-0">Линия</th>
                        <th class="border-0">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bt in boiling_technologies %}
                        <tr>
                            <td class="border-0">{{loop.index}}</td>
                            <td class="border-0"><a class="small">{{bt.name}}</a></td>
                            <td class="border-0"><a class="small">{{bt.pouring_time}}</a></td>
                            <td class="border-0"><a class="small">{{bt.soldification_time}}</a></td>
                            <td class="border-0"><a class="small">{{bt.cutting_time}}</a></td>
                            <td class="border-0"><a class="small">{{bt.pouring_off_time}}</a></td>
                            <td class="border-0"><a class="small">{{bt.extra_time}}</a></td>
                            <td class="border-0"><a class="small">{{bt.boilings[0].line.name}}</a></td>
                            <td class="border-0">
                                <a href="{{ url_for('main.edit_boiling_technology', boiling_technology_id = bt.id)}}" class="edit-bt">
                                    <i class="material-icons" style="color:green" title="Изменить"> <span class="fas fa-edit"> </i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
