{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Анализ технологии - Изменить анализ технологии{% endblock %}
{% block page_content %}
<main class="content">
    <div class="row">
        <div class="py-4">
            <div class="d-flex justify-content-between w-100 flex-wrap">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h4">Изменение параметров анализа технологии на линии Рикотты <br></h1>
                </div>
            </div>
        </div>
        <form method="post" action="/ricotta/edit_analysis_technology/{{analysis_technology_id}}" class="mt-4">
            {{ form.hidden_tag() }}
            <div class="row mb-4">
                <div class="col-lg-6 col-sm-6">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label>Название технологии варки</label>
                            {{form.boiling_name(place_holder='Name', class='form-control', readonly=true)}}
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label>Введите время подготовки, мин</label>
                            {{form.preparation_time(place_holder='Preparation', class='form-control')}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label>Введите время анализа, мин</label>
                            {{form.analysis_time(place_holder='Analysis', class='form-control')}}
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label>Введите время закачки, мин</label>
                            {{form.pumping_time(place_holder='Pumping', class='form-control')}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3" style="margin-top:30px;">
                    <button type="submit" name="submit" class="btn btn-block btn-primary">Сохранить</button>
                </div>

            </div>
        </form>
    </div>
</main>
{% endblock %}