{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Варки - Список параметров варок{% endblock %}
{% block page_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Параметры варок на линии Рикотты</h1>
        </div>
    </div>
</div>
<div class="card border-light shadow-sm mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0">#</th>
                        <th class="border-0">Название варки</th>
                        <th class="border-0">Добавка</th>
                        <th class="border-0">Процент</th>
                        <th class="border-0">Число танков</th>
                        <th class="border-0">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bt in boilings %}
                        <tr>
                            <td class="border-0">{{loop.index}}</td>
                            <td class="border-0"><a class="small">{{bt.to_str()}}</a></td>
                            <td class="border-0"><a class="small">{{bt.flavoring_agent}}</a></td>
                            <td class="border-0"><a class="small">{{bt.percent}}</a></td>
                            <td class="border-0"><a class="small">{{bt.number_of_tanks}}</a></td>
                            <td class="border-0">
                                <a href="{{ url_for('main.ricotta_edit_boiling', boiling_id = bt.id)}}" class="edit-bt">
                                    <i class="material-icons" style="color:green" title="Изменить"> <span class="fas fa-edit"> </i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
