{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Технология варки - Список технологий варок{% endblock %}
{% block page_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<main class="content">
    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Технологии варки на линии Рикотты</h1>
            </div>
        </div>
    </div>
    <div class="card border-light shadow-sm mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0">#</th>
                            <th class="border-0">Название варки</th>
                            <th class="border-0">Нагрев, мин</th>
                            <th class="border-0">Выдержка, мин</th>
                            <th class="border-0">Сбор белка, мин</th>
                            <th class="border-0">Заброс, мин</th>
                            <th class="border-0">Слив, мин</th>
                            <th class="border-0">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bt in boiling_technologies %}
                            <tr>
                                <td class="border-0">{{loop.index}}</td>
                                <td class="border-0"><a class="small">{{bt.name}}</a></td>
                                <td class="border-0"><a class="small">{{bt.heating_time}}</a></td>
                                <td class="border-0"><a class="small">{{bt.delay_time}}</a></td>
                                <td class="border-0"><a class="small">{{bt.protein_harvest_time}}</a></td>
                                <td class="border-0"><a class="small">{{bt.abandon_time}}</a></td>
                                <td class="border-0"><a class="small">{{bt.pumping_out_time}}</a></td>
                                <td class="border-0">
                                    <a href="{{ url_for('main.ricotta_edit_boiling_technology', boiling_technology_id = bt.id)}}" class="edit-bt">
                                        <i class="material-icons" style="color:green" title="Изменить"> <span class="fas fa-edit"> </i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
