{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} План по варкам {% endblock %}

{% block header%}
<div class="row", style="padding:20px">
    <h1 class="h4 mb-4">Контурные мойки</h1>
</div>
{% endblock %}

{% block notifications %}
    {% include 'includes/notification.html' %}
{% endblock notifications %}


{% block page_content %}
<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<style>
    .accordion {
      background-color: rgb(225, 253, 255);
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 18px;
      transition: 0.4s;
    }

    .active, .accordion:hover {
      background-color: #ccc;
    }

    .ul>li
    {
        margin: 5px;
        font-size: 14px;
    }

    .panel {
      padding: 0 20px;
      max-height: 0;
      margin: 10px;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
</style>

<div class="row">
    <div class="card card-body bg-white border-light shadow-sm mb-4">
        <h4 class="h5 mb-4">Заполните необходимые параметры за {{date}} число</h4>
        <div class="row">
            <form id="main_form">
                <div class="col-md-12 mb-3">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ wtf.quick_form(main_form) }}
                    </div>
                </div>
            </form>

            <form id="mozzarella_form">
                <div class="col-md-12 mb-3">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button class="accordion" type="button"><a>Параметры моцареллы</a></button>
                        <div class="panel">
                            {{ wtf.quick_form(mozzarella_form) }}
                        </div>
                    </div>
                </div>
            </form>

            <form id="ricotta_form">
                <div class="col-md-12 mb-3">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button class="accordion" type="button"><a>Параметры рикотты</a></button>
                        <div class="panel">
                            {{ wtf.quick_form(ricotta_form) }}
                        </div>
                    </div>
                </div>
            </form>

            <form id="mascarpone_form">
                <div class="col-md-12 mb-3">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button class="accordion" type="button"><a>Параметры маскарпоне</a></button>
                        <div class="panel">
                            {{ wtf.quick_form(mascarpone_form) }}
                        </div>
                    </div>
                </div>
            </form>

            <form id="butter_form">
                <div class="col-md-12 mb-3">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button class="accordion" type="button"><a>Параметры масла</a></button>
                        <div class="panel">
                            {{ wtf.quick_form(butter_form) }}
                        </div>
                    </div>
                </div>
            </form>

            <form id="adygea_form">
                <div class="col-md-12 mb-3">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button class="accordion" type="button"><a>Параметры адыгейского</a></button>
                        <div class="panel">
                            {{ wtf.quick_form(adygea_form) }}
                        </div>
                    </div>
                </div>
            </form>

            <form id="result" action="/contour_washers_schedule?date={{date}}" method="POST" onsubmit="merge(); return true;">
                <button type="submit" name="submit_file" class="btn btn-block btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>

{% if filename %}
    <script>
        function download(url, filename, date) {
        fetch(url).then(function(t) {
            return t.blob().then((b)=>{
                var a = document.createElement("a");
                a.href = URL.createObjectURL(b);
                a.setAttribute("download", filename);
                a.setAttribute("file_name", filename);
                a.setAttribute("date", date);
                a.click();
            }
            );
        });
        }
        var url = "download_contour_washers?file_name=" + "{{filename}}" + "&date=" + "{{date}}";
        download(url,"{{filename}}", "{{date}}");
    </script>
{% endif %}


<script>
    src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
</script>

<script>

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
</script>

<script type="text/javascript">
    function merge() {
        $result = $("#result");
        console.log(document.getElementById("mozzarella_form"));
        $("#mozzarella_form input, #ricotta_form input, #mascarpone_form input, #butter_form input, #milk_project_form input, #adygea_form input, #main_form input").each(function() {

            if ($(this).val() == 'y') {
                $result.append("<input type='hidden' name='"+$(this).attr('name')+"' value='"+$(this).is(':checked')+"' />");
            }
            else {
                $result.append("<input type='hidden' name='"+$(this).attr('name')+"' value='"+$(this).val()+"' />");
            }
        });
    }
</script>
{% endblock %}