{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} План по варкам {% endblock %}

{% block header%}
<div class="row", style="padding:20px">
    <h1 class="h4 mb-4">Контурные мойки</h1>
    <div class="header-img">
        <img src= "{{ url_for('static', filename='imgs/washer.jpg') }}" style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 60vh; opacity: 1; object-position: center 60%;">
    </div>
</div>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="card card-body bg-white border-light shadow-sm mb-4">
        <h4 class="h5 mb-4">Введите дату для подгрузки параметров</h4>
        <div class="row">
            <form id="schedule_form">

                <div class="row mb-4">
                    <div class="col-lg-6 col-sm-6">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Введите дату</label>
                                {{form.date(place_holder='date', class='form-control')}}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form id="result" action="/contour_washers_schedule" method="GET" onclick="submitForms()">
                <button type="button" name="submit_file" class="btn btn-block btn-primary">Отправить</button>
            </form>
    </div>
</div>

<script>
    submitForms = function(){
        document.getElementById("schedule_form").submit();
    }
</script>


{% endblock %}