{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} План по варкам {% endblock %}

{% block header%}
<div class="row", style="padding:20px">
    <h1 class="h4 mb-4">Контурные мойки</h1>
</div>
{% endblock %}


{% block page_content %}
<div class="row">
    <div class="card card-body bg-white border-light shadow-sm mb-4">
        <h4 class="h5 mb-4">Загрузите файл плана по варкам и выберите дату</h4>
        <div class="row">
            <form method="post" action="/contour_washers_schedule" enctype="multipart/form-data" class="mt-4">
                {{ form.hidden_tag() }}
                <div class="row mb-4">
                    <div class="col-lg-6 col-sm-6">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Введите дату</label>
                                {{form.date(place_holder='date', class='form-control')}}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Время окончания работы маслоцеха по умолчанию </label>
                                {{form.butter_end_time(place_holder='butter_end_time', class='form-control')}}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Время окончания работы адыгейского цеха по умолчанию </label>
                                {{form.adygea_end_time(place_holder='adygea_end_time', class='form-control')}}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Время окончания работы милкпроджекта по умолчанию </label>
                                {{form.milk_project_end_time(place_holder='milk_project_end_time', class='form-control')}}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Завтра нерабочий день </label>
                                {{form.is_not_working_day(place_holder='is_not_working_day', checked=True)}}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Линия отгрузки </label>
                                {{form.shipping_line(place_holder='shipping_line', checked=True)}}
                            </div>
                        </div>
                    </div>
                    <button type="submit" name="submit" class="btn btn-block btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if filename %}
    <script>
        function download(url, filename, date) {
        fetch(url).then(function(t) {
            return t.blob().then((b)=>{
                var a = document.createElement("a");
                a.href = URL.createObjectURL(b);
                a.setAttribute("download", filename);
                a.setAttribute("file_name", filename);
                a.setAttribute("date", date);
                a.click();
            }
            );
        });
        }
        var url = "download_contour_washers?file_name=" + "{{filename}}" + "&date=" + "{{date}}";
        download(url,"{{filename}}", "{{date}}");
    </script>
{% endif %}

{% endblock %}