{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SKU - Скопировать SKU{% endblock %}
{% block page_content %}
<div class="row">
    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Копирование sku в базу данных <br></h1>
                <h7>Измените название, код и бренд sku. Все остальные параметры останутся прежними.</h7>
            </div>
        </div>
    </div>
    <form method="post" action="/mascarpone/copy_sku/{{sku_id}}" class="mt-4">
        {{ form.hidden_tag() }}
        <div class="row mb-4">
            <div class="col-lg-6 col-sm-6">
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Измените название SKU</label>
                        {{form.name(place_holder='Name', class='form-control')}}
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Измените код sku</label>
                        {{form.code(place_holder='Code', class='form-control')}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Измените имя бренда</label>
                        {{form.brand_name(place_holder='Brand', class='form-control')}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3" style="margin-top:30px;">
                <button type="submit" name="submit" class="btn btn-block btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}