{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Расписание маскарпоне {% endblock %}

{% block header%}
<div class="row", style="padding:20px">
    <h1 class="h4 mb-4">Расписание маскарпоне</h1>
    <div class="header-img">
        <img src= "{{ url_for('static', filename='imgs/mascarpone_schedule.PNG') }}" style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 40vh; opacity: 1; object-position: center 50%;">
    </div>
</div>
{% endblock %}

{% block page_content %}
{% if filename %}
    <div class="row" id="Approved">
        <div class="card card-body bg-white border-light shadow-sm mb-4">
            <h4 class="h5 mb-4">Подтвердите расписание за текущий день</h4>
            <div class="row">
                <p>Если текущая версия расписания является итоговой, обязательно подтвердите ее.</p>
                <p> В случае, если уже сущетсвует подтвержденное расписание, необходимо на странице истории разутвердить текущее расписание. </p>
            </div>
            <div class="row">
                <form method="post" action="/approve_mascarpone" enctype="multipart/form-data" class="mt-4">
                    <div>
                        <input type="hidden" name="file_name" id="file_name" value="{{filename}}">
                    </div>
                    <div>
                        <input type="hidden" name="date" id="date" value="{{date}}">
                    </div>
                    <div class="row mb-4">
                         <button type="submit" name="submit" class="btn btn-primary mr-2 dropdown-toggle">
                             <span class="fas fa-check mr-2"></span>Подтвердить
                         </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="card card-body bg-white border-light shadow-sm mb-4">
        <h4 class="h5 mb-4">Загрузите файл плана по варкам и выберите дату</h4>
        <div class="row">
            <form method="post" action="/mascarpone_schedule" enctype="multipart/form-data" class="mt-4">
                {{ form.hidden_tag() }}
                <div class="row mb-4">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label>Выберите файл плана варки</label>
                            {{form.input_file(place_holder='InputFile', class='form-control')}}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Введите дату</label>
                                {{form.date(place_holder='Date', class='form-control')}}
                            </div>
                        </div>
                         <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label> Время начала подготовки цеха линия Кремчиза</label>
                                {{form.beg_cream_cheese_time(place_holder='Cream cheese time', class='form-control')}}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Введите номер первой партии Робиолы в текущем дне</label>
                                {{form.robiola_batch_number(place_holder='BatchNumber', class='form-control')}}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Введите номер первой партии Сливки в текущем дне</label>
                                {{form.cream_batch_number(place_holder='BatchNumber', class='form-control')}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label> Время начала подготовки цеха линия Маскарпоне</label>
                                {{form.beg_mascarpone_time(place_holder='SaltBegTime', class='form-control')}}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Введите номер первой партии Маскарпоне в текущем дне</label>
                                {{form.mascarpone_batch_number(place_holder='BatchNumber', class='form-control')}}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Введите номер первой партии Кремчиз в текущем дне</label>
                                {{form.cream_cheese_batch_number(place_holder='BatchNumber', class='form-control')}}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label>Введите номер первой партии Творожный в текущем дне</label>
                                {{form.cottage_cheese_batch_number(place_holder='BatchNumber', class='form-control')}}
                            </div>
                        </div>
                    </div>
                    <button type="submit" name="submit" class="btn btn-block btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if filename %}
    <script>
        function download(url, filename, date) {
        fetch(url).then(function(t) {
            return t.blob().then((b)=>{
                var a = document.createElement("a");
                a.href = URL.createObjectURL(b);
                a.setAttribute("download", filename);
                a.setAttribute("file_name", filename);
                a.setAttribute("date", date);
                a.click();
            }
            );
        });
        }
        var url = "download_schedule_plan?file_name=" + "{{filename}}" + "&date=" + "{{date}}";
        download(url,"{{filename}}", "{{date}}");
    </script>
{% endif %}
{% endblock %}