    <nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
        <div class="sidebar-sticky pt-3 mx-auto">
            <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse"
                    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                    aria-label="Toggle navigation"></a>
            </div>
            </div>
            <ul class="nav flex-column">
            <li class="nav-item">
                <span>
                    <span class="sidebar-icon">
                        <a href="/" class="nav-link" style="text-align: center;">
                            <img src="/static/icons/data/logo.png" height=80" alt="Umalat">
                        </a>
                    </span>
                </span>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#submenu-app">
                    <span>
                        <span class="sidebar-icon">
                            <span>
                                <img src="/static/icons/data/mozzarella.ico" height="20" width="20" alt="Mozzarella">
                            </span>
                        </span>
                        Моцарелла
                    </span>
                    <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse " role="list" id="submenu-app" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.mozzarella_boiling_plan')}}"><span>План варок</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.mozzarella_schedule')}}"><span>Расписание</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.mozzarella_upload_schedule')}}"><span>Загрузить расписание</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.mozzarella_params')}}"><span>Параметры</span></a></li>
                    </ul>
                </div>
            </li>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#submenu-app2">
                <span>
                    <span class="sidebar-icon">
                        <span>
                        <img src="/static/icons/data/ricotta.ico" height="20" width="20" alt="Ricotta">
                        </span>
                    </span>
                    Рикотта
                </span>
                <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse " role="list" id="submenu-app2" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.ricotta_boiling_plan')}}"><span>План варок</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.ricotta_schedule')}}"><span>Расписание</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.ricotta_upload_schedule')}}"><span>Загрузить расписание</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.ricotta_params')}}"><span>Параметры</span></a></li>
                    </ul>
                </div>
            </li>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#submenu-app3">
                <span>
                    <span class="sidebar-icon">
                        <span>
                            <img src="/static/icons/data/mascarpone.svg" height="20" width="20" alt="Volt Logo">
                        </span>
                    </span>
                    Маскарпоне
                </span>
                <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse " role="list" id="submenu-app3" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.mascarpone_boiling_plan')}}"><span>План варок</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.mascarpone_schedule')}}"><span>Расписание</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.mascarpone_upload_schedule')}}"><span>Загрузить расписание</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.mascarpone_params')}}"><span>Параметры</span></a></li>
                    </ul>
                </div>
            </li>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#submenu-app4">
                <span>
                    <span class="sidebar-icon">
                        <span class="fas fa-circle" height="20" width="20"></span>
                    </span>
                    Масло
                </span>
                <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse " role="list" id="submenu-app4" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.butter_boiling_plan')}}"><span>План варок</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.butter_schedule')}}"><span>Расписание</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.butter_upload_schedule')}}"><span>Загрузить расписание</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.butter_params')}}"><span>Параметры</span></a></li>
                    </ul>
                </div>
            </li>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#submenu-app5">
                <span>
                    <span class="sidebar-icon">
                        <span class="fas fa-pastafarianism" height="20" width="20"></span>
                    </span>
                    Милкпроджект
                </span>
                <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse " role="list" id="submenu-app5" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.milk_project_boiling_plan')}}"><span>План варок</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.milk_project_schedule')}}"><span>Расписание</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.milk_project_upload_schedule')}}"><span>Загрузить расписание</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.milk_project_params')}}"><span>Параметры</span></a></li>
                    </ul>
                </div>
            </li>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#submenu-app7">
                <span>
                    <span class="sidebar-icon">
                        <span class="fas fa-bath" height="20" width="20"></span>
                    </span>
                    Мойки
                </span>
                <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse " role="list" id="submenu-app7" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.contour_washers_schedule')}}"><span>Расписание</span></a></li>
                    </ul>
                </div>
            </li>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#submenu-app8">
                <span>
                    <span class="sidebar-icon">
                        <span class="fas fa-bath" height="20" width="20"></span>
                    </span>
                    Расписание за день
                </span>
                <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse " role="list" id="submenu-app8" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.departments_schedule')}}"><span>Расписание</span></a></li>
                    </ul>
                </div>
            </li>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#submenu-app8">
                <span>
                    <span class="sidebar-icon">
                        <span class="fas fa-history" height="20" width="20"></span>
                    </span>
                    История
                </span>
                <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse " role="list" id="submenu-app9" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.download_schedules', page=1)}}"><span>Расписание</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.download_boiling_plans', page=1)}}"><span>План варок</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.download_contour_washer_history', page=1)}}"><span>Мойки</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="{{url_for('main.download_schedule_tasks', page=1)}}"><span>Печать заданий</span></a></li>
                    </ul>
                </div>
            </li>
            </ul>
        </div>
    </nav>

