{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Создание файла конструктора {% endblock %}
{% block page_content %}
<main>
    <div class="header-img">
         <img src= "{{ url_for('static', filename='boiling_plan_full.jpg') }}" style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 30vh; opacity: 1; object-position: center 60%;">
    </div>
</main>

<div class="page-header">
    <h1> Загрузите файл плана по sku </h1>
</div>
<div class="col-md-6">
    {{ wtf.quick_form(form) }}
</div>

{% if link %}
    <div class="col-md-6" style="margin-bottom: 20px;">
        <a href="{{link}}"><button class="btn"><i class="fa fa-download"></i> Download </button></a>
    </div>
{% endif %}
{% endblock %}