{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %} План по варкам {% endblock %}
{% block page_content %}
<div class="page-header">
    <h1> Создание файла конструктора </h1>
</div>
<div class="col-md-6">
    {{ wtf.quick_form(form) }}
</div>

{% if file_name %}
    <div class="col-md-6" style="margin-bottom: 20px;">
        <script>
            function download(url, filename) {
            fetch(url).then(function(t) {
                return t.blob().then((b)=>{
                    var a = document.createElement("a");
                    a.href = URL.createObjectURL(b);
                    a.setAttribute("download", filename);
                    a.click();
                }
                );
            });
            }
            var url = "download_boiling_plan/" + "{{file_name}}";
            download(url,"{{file_name}}");
        </script>
    </div>
{% endif %}
{% endblock %}