{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Общие параметры {% endblock %}
{% block page_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-square-o"></i> Линии </h2>
      </div>
      <div class="x_content">
        <table class="table table-hover lines">
          <thead>
            <tr>
              <th> Название линии </th>
            </tr>
          </thead>
          {% for line in lines %}
          <tr>
            <td> {{line.name}} </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-square-o"></i> Фасовщики </h2>
      </div>
      <div class="x_content">
        <table class="table table-hover lines">
          <thead>
            <tr>
              <th> Типы фасовщиков </th>
            </tr>
          </thead>
          {% for packer in packers %}
          <tr>
            <td> {{packer.name}} </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-square-o"></i> Термизатор </h2>
      </div>
      <div class="x_content">
        <table class="table table-hover lines">
          <thead>
            <tr>
              <th> Параметры термизатора </th>
              <th> Время короткой мойки, мин </th>
              <th> Время долгой мойки, мин </th>
            </tr>
          </thead>
          {% for termizator in termizators %}
          <tr>
            <td> {{termizator.name}} </td>
            <td> {{termizator.short_cleaning_time}} </td>
            <td> {{termizator.long_cleaning_time}} </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
</div>

{% endblock %}