{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %} Процесс налива {% endblock %}

{% block page_content %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<table class="table table-hover cheese_makers">
    <thead>
        <tr>
            <th> Процесс </th>
            <th> Время налива </th>
            <th> Действия </th>
        </tr>
    </thead>
    {% for pouring_process in pouring_processes %}
    <tr>
        <td> Налив </td>
        <td> {{pouring_process.pouring_time}} </td>
        <td>
            <a href="{{ url_for('main.edit_pouring_process', id = pouring_process.id)}}" class="edit-sku" data-toggle="modal">
                <i class="material-icons" data-toggle="tooltip" style="color:green" title="Edit"> &#xe3c9; </i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}