{% extends "base.html" %}

{% block title %} Umalat - домашняя страница {% endblock %}

{% block page_content %}
<section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
    <div class="container">
        <div class="row justify-content-center form-bg-image" data-background="/static/assets/img/illustrations/signin.svg">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">Добро пожаловать!</h1>
                    </div>
                    <div class="mt-3 mb-4 font-weight-normal">
                        <p>Для составления расписания выберите в меню нужный цех и загрузите необходимые файлы.</p>
                        <ul>
                            <li><a href="/boiling_plan" class="font-weight-bold">Моцарелльный цех</a></li>
                            <li><a href="/boiling_plan" class="font-weight-bold">Рикоттный цех</a></li>
                            <li><a href="/boiling_plan" class="font-weight-bold">Маскарпонный цех</a></li>
                        </ul>
                        <span>Для изменения параметров сыров и технологий внутри цеха, выберите в разделе меню нужный цех и перейдите на страницу параметры.</span>
                    </div>
                    <div class="mt-4 mb-4">
                        <span class="h6"></span>
                    </div>
                    <div class="mt-3 mb-4">
                        <p>Посмотреть правила составления расписания можно в разделе <a href="/rules" class="font-weight-bold">правила</a>.</p>
                    </div>
                    <div class="mt-4 mb-4">
                        <span class="h6"></span>
                    </div>
                    <div class="mt-3 mb-4">
                        <p>Инструкция к пользованию сервисом доступна в разделе <a href="/rules" class="font-weight-bold">инструкция</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}