{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

Вынести add sku в  SKU.
</br>
Обернуть edit в modal fade.
</br>
Добавить аналогично все по остальным параметрам.
</br>
Начать переводить все на русский в нормальном виде
</br>
Добавить проверки в формы на существование SKU
</br>
Добавить чекбоксы
</br>
Вынести всю параметрию на отдельную страницу и красиво ее оформить
</br>
Добавить создание новой варки в случае добавления sku с несуществующими параметрами


{% endblock %}